TZ=America/Santiago

# ThingsBoard Cloud ports
TB_HTTP_PORT=8080
TB_MQTT_PORT=1883

# ThingsBoard DB
TB_DB=thingsboard
TB_DB_USER=tb
TB_DB_PASS=change-me-strong-password

# Backup
BACKUP_CRON=0 2 * * *
BACKUP_RETENTION_DAYS=14
