TZ=America/Santiago

# Host ports
MQTT_PORT=1883
Z2M_UI_PORT=8084
NODERED_PORT=1880
TB_PORT=8080

# MQTT credentials (change)
MQTT_USER=iot
MQTT_PASS=supersegura

# Real host path for adapter (by-id)
# Get with: ls -l /dev/serial/by-id/
ZIGBEE_ADAPTER_HOST=/dev/serial/by-id/usb-XXXXX

# UID/GID (optional, for rootless). Get with: id
PUID=1000
PGID=1000

# ThingsBoard DB
TB_DB=thingsboard
TB_DB_USER=tb
TB_DB_PASS=tbpass

# Backup
BACKUP_CRON=0 2 * * *
BACKUP_RETENTION_DAYS=7
